.wd-tabs li {
  display: inline;
}

.wd-tabs {
  padding-left: 0px;
}

.wd-selected {
  border-bottom: 2px blue solid;
  padding-bottom: 20px;
}

.wd-nudge-up {
  bottom: 10px;
  left: 25px;
}

.wd-show-overflow {
  overflow: visible;
}

.wd-hide-overflow {
  overflow: hidden;
}

.wd-z1 {
  z-index: 1;
}

.wd-color-white {
  color: white;
}

.wd-color-dark {
  color: rgb(47, 51, 54);
}

.wd-center-of-icon {
  left: 2px;
  top: 2px;
}

.wd-margin-top {
  margin-top: 10px;
}
