.wd-page-title-container {
  padding-left: 16px;
  padding-bottom: 8px;
  padding-top: 12px;
  font-size: 20px;
}

.wd-bookmark-container {
  padding-left: 16px;
}

.wd-avatar-img {
  height: 48px;
  width: 48px;
  border-radius: 24px;
}

.wd-main-content {
  margin-bottom: 16px;
  width: 506px;
}

.wd-main-content-img {
  height: 264px;
  width: 504px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-block-end: -6px;
}

.wd-bookmarks-details-menu {
  position: absolute;
  right: 12px;
  top: 16px;
  color: rgb(29, 161, 242);
  font-size: 20px;
}

.wd-main-content-details-menu {
  position: absolute;
  right: 12px;
  top: 0px;
  color: white;
}

.wd-main-content-text-preview {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 480px;
  padding: 12px;
}

.wd-main-content-text-preview-title {
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.wd-main-content-text-preview-content {
  font-weight: normal;
  color: rgb(110, 118, 125);
  font-size: 15px;
}

.wd-less-vertical-padding {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.wd-border-bottom-thin-with-margin {
  border-width: 0px 0px 1px 0px;
  border-color: rgb(47, 51, 54);
  border-style: solid;
  margin-bottom: 16px;
}

.wd-border-thin-no-top {
  border-width: 0px 1px 1px 1px;
  border-color: rgb(47, 51, 54);
  border-style: solid;
}

.wd-bookmark-icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
}

.wd-bookmark-icon {
  height: 16px;
  color: rgb(110, 118, 125);
}

.wd-bookmark-icon-heart-active {
  color: red;
  margin-block-start: 0px;
  margin-block-end: 6px;
}

.wd-bookmark-icon-heart-text-active {
  color: red;
}

.wd-background-text-15 {
  color: rgb(110, 118, 125);
  font-size: 15px;
  margin-block-start: 3px;
  margin-block-end: 3px;
}